<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="Member-Mapper"> <!--같은이름이 있을때 패키지 위치까지 적어준다.  -->
		
		<select id="selectMemberById" parameterType="str" resultType="member">
			select
			*
			from member_free
			where id = #{id}		
		</select>
		
						
		<sql id = "search">
			<if test ="searchType =='i'.toString()">
				and id like '%'||#{keyword}||'%'
			</if>
			<if test ="searchType =='p'.toString()">
				and phone like '%'||#{keyword}||'%'
			</if>
			<if test ="searchType =='e'.toString()">
				and email like '%'||#{keyword}||'%'
			</if>
			
		</sql>
		
		
		<select id="selectSearchMemberList" resultType="member">
			select *
			from member_free
			where id is not null
			<include refid="search" />
		</select>
			
			<!-- order by regDate desc -->
		
		<select id="selectSearchMemberListCount" resultType="int">
			select 
			count(*)
			from member_free
			where id is not null
			<include refid="search"/>
		</select>
			<!-- order by regDate desc -->			
						
		<select id="selectMemberListCount" resultType="int">
			select count(*)
			from member_free
		</select>
		
		<update id="insertMember" parameterType="member">
			insert into
			member_free(id, pwd, email, phone, picture, name)
			values(#{id},#{pwd},#{email},#{phone},#{picture},#{name})
		</update>	
		
		<update id="updateMember" parameterType="member">
				update member_free
				set 
				pwd=#{pwd},email=#{email},phone=#{phone},name=#{name},
				picture=#{picture}
			
			<if test="authority != null">
				,authority=#{authority}
			</if>
			
			where id=#{id}
		</update>
		
		<update id="deleteMember" parameterType="str">
			delete 
			from Member_free
			where id = #{id}
		</update>
		
		<update id="disabledMember">
			update member_free
			set enabled=0
			where id = #{id}
		</update>
		
		<update id="enabledMember">
			update member_free
			set enabled=1
			where id = #{id}
		</update>
		
		
		

</mapper>