<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Reply-Mapper">
	
	<select id="selectReplySeqNextValue" resultType="int">
		select reply_free_seq.nextval
		from dual	
	</select>


	<select id="selectReplyList" resultType="reply">
		select *
		from reply_free
		where bno=#{bno}
		order by rno asc
	</select>
	<select id="countReply" resultType="int">
		select count(bno) 
		from reply_free
		where bno=#{bno}
	</select>
	
	<update id="insertReply" >
		insert into reply_free(rno,bno,replytext,replyer)
		values(#{rno},#{bno},#{replytext},#{replyer})
	</update>
	
	<update id="updateReply">
		update reply_free 
		set 
		replytext=#{replytext},
		updatedate=sysdate
		where rno=#{rno}		
	</update>
	
	<update id="deleteReply">
		delete from reply_free
		where rno=#{rno}		
	</update>
</mapper>